.backend {
    background-color: #e9e9e9;
    scroll-margin-top: 15rem;
    margin-bottom: -30rem;
}

.backend .backend__content {
    padding: 6rem 4rem;
    text-align: center; 
}

.backend .backend__content h3 {
    font-size: 2rem;
}

.backend .backend__content .description {
    max-width: 56rem;
    margin: 0 auto 6rem;
}

.backend .backend__content ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Duas colunas */
    gap: 4rem;
}

.backend .backend__content ul li .image-container {
    background-color: white;
    padding: 2rem;
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    transition: 0.3s ease-in-out;
    opacity: 60%;
}

.backend .backend__content ul li .image-container:hover {
    transform: translateY(-5px);
    opacity: 100%;
}

.backend .backend__content ul li h3 {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 2rem 0 1rem;
}

.backend .backend__content h3 {
    font-size: 20pt;
    font-weight: 500;
}

@media (max-width: 1200px) {
    .backend .backend__content {
        padding: 4rem 2rem;
    }

    .backend .backend__content h3 {
        font-size: 20pt;
        font-weight: 500;
    }

    .backend .backend__content .description {
        max-width: 100%;
    }
}

@media (max-width: 900px) {
    .backend .backend__content {
        padding: 3rem 1.5rem;
    }

    .backend .backend__content h3 {
        font-size: 2.4rem;
    }

    .backend .backend__content ul {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas */
    }
}

@media (max-width: 768px) {
    .backend {
        margin-bottom: -1px;
    }

    .backend .backend__content {
        padding: 2rem 1rem;

    }

    .backend .backend__content h3 {
        font-size: 2.4rem;
    }

    .backend .backend__content ul li .image-container {
        width: 80px;
        height: 80px;
    }

    .backend .backend__content ul li .image-container:hover {
        transform: translateY(0px);
        opacity: 100%;
    }

    .backend .backend__content ul li h3 {
        font-size: 1.4rem;
    }
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    .backend {
      width: 100vw;
    }
  }