footer {
    background-color: #f3f6fb;
}

footer .footer__content {
    text-align: center;
    padding: 6rem 2rem 1rem;
    max-width: 47rem;
}

footer .footer__content .footer__contact span{
    display: block;
    font-weight: 900;
}

footer .footer__content ul li{
    display: inline-block;
}

footer .footer__content ul li a{
    display: inline-block;
    padding: 1rem;
    transition: 0.3s ease-in-out;
}

footer .footer__content ul li a:hover{
    transform: translateY(-3px);
}

footer .footer__content .footer__copyright {
    font-size: 1.4rem;
}