footer {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: gradient 10s ease infinite;
    background: linear-gradient(90deg, #190555, #340ea5, #7b30d0, #190555) no-repeat;
    background-size: 200% 200%;
}

footer .footer__content {
    text-align: center;
    padding: 6rem 2rem 1rem;
    max-width: 47rem;
    color: aliceblue;
}

footer .footer__content h2{
    margin-top: -5px;
    font-size: 3.8rem;
    font-weight: 600;
    line-height: 4.5rem;
    color: aliceblue;
}

footer .footer__content .mb-l{
    display: inline-flex;
}

footer .footer__content ul li a{
    display: inline-flex;
    padding: 1rem;
    transition: 0.3s ease-in-out;
}

footer .footer__content ul li a img{
    filter: invert(100%);
    width: 4rem;
}

footer .footer__content ul li a:hover{
    transform: translateY(-3px);
}

footer .footer__content .footer__copyright {
    font-size: 1.4rem;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
    footer {
        width: 100vw;
        justify-content: center;
    }
}