header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  scroll-margin-top: 20rem;
}

header .header__left {
  max-width: 62rem;
  flex: 1;
}

header .header__right .header__image img {
  width: 350px;
  height: 350px;
  margin-left: -450px;
}

@media only screen and (max-width: 768px) {
  header {
    flex-direction: column-reverse;
    text-align: center;
  }

  header .header__left p {
    margin: 2rem auto 4rem;
  }

  header .header__right .header__image img {
    justify-content: center;
    width: 350px;
    margin-right: 450px;
  }
}

@media only screen and (max-width: 1050px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  header .header__left p {
    margin: 2rem auto 4rem;
  }

  header .header__right .header__image {
    display: block;
    margin-right: 60px;
  }

  header .header__right .header__image img {
    justify-content: center;
    width: 350px;
    margin-left: 70px;
  }
}

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  header .header__left p {
    margin: 2rem auto 4rem;
  }

  header .header__right .header__image {
    display: block;
    margin-right: 60px;
  }

  header .header__right .header__image img {
    justify-content: center;
    margin-left: 500px;
  }
}