@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  background-color: transparent;
  animation: gradient 10s ease infinite;
  background: linear-gradient(90deg, #190555, #340ea5, #7b30d0, #190555) no-repeat;
  background-size: 200% 200%;
  box-shadow: rgb(0, 0, 0) 0 0 30px;
}

nav .navbar__content {
  padding: 3rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

nav .logo-navbar {
  width: 100px;
  transition: transform 0.5s ease-in-out;
}

nav .logo-navbar:hover {
  transform: rotate(-180deg);
}

nav .logo-ev {
  position: absolute;
  width: 280px;
  height: 145px;
  margin-top: -16px;
  margin-left: -40px;
  opacity: 0;
  transition: opacity 0.7s ease-in-out, visibility 0.5s ease-in-out;
}


.logo-navbar:hover ~ .logo-ev {
  opacity: 1;
}

nav .navbar__content .navbar__links li {
  display: inline-block;
  align-content: center;
}

nav .navbar__content .navbar__links li:last-of-type {
  transform: translateY(5px);
}

nav .navbar__content .navbar__links li:not(:last-of-type) {
  margin-right: 0.2rem;
}

nav .navbar__content .navbar__links a {
  padding: 1rem;
  display: inline-block;
  color: rgb(217, 219, 223);
  font-size: 15pt;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-radius: 15px;
  transition: 0.3s ease-in-out;
}

nav .navbar__content .navbar__links a:hover {
  color: black;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.116) -20px -5px 30px 0, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(0, 0, 0, 0.39) 0px -2px 6px 0px inset;
}

nav .navbar__content .navbar__mobile .mobile__links a {
  color: black;
}

.navbar.active {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

nav .navbar__content .navbar__mobile,
nav .navbar__content .navbar__mobile .mobile__links {
  display: none;
}

.container-check input {
  display: none;
}

.container-check img {
  width: 25px;
  height: 25px;
  filter: invert();
  transition: 0.3s ease;
  margin-top: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.container-check img:hover {
  opacity: 1;
}

#checkbox-img {
  margin-bottom: -5px;
  margin-right: 10px;
  margin-left: 5px;
}

/* Regras de mídia para dispositivos móveis (320px - 480px) */
@media only screen and (max-width: 480px) {
  nav .navbar__content {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav .logo-navbar {
    width: 60px;
    margin-left: 0;
    margin-top: 2px;
  }

  nav .logo-ev {
    width: 150px;
    height: 75px;
    margin-top: -3px;
    margin-left: -23px;
  }
  
  nav .logo-navbar:hover ~ .logo2 {
    opacity: 1;
    visibility: visible;
  }

  nav .navbar__content .navbar__links {
    display: none;
  }

  nav .navbar__content .navbar__mobile {
    display: flex;
    margin-top: 0;
    gap: 2rem;
  }

  nav .navbar__content .navbar__mobile img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    filter: invert();
  }

  nav .navbar__content .navbar__mobile .mobile__links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: rgba(255, 255, 255, 0.911);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 97px;
    left: 0;
    z-index: 100;
    padding: 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 10px 67px 0px rgb(48, 48, 48);
  }

  nav .navbar__content .navbar__mobile .mobile__links li {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 2rem;
    margin-top: 10px;
    font-size: 14pt;
    font-weight: 500;
  }

  nav .navbar__content .navbar__mobile.active .mobile__links {
    display: flex;
  }

  .container-check img {
    width: 25px;
    height: 25px;
    margin-top: 7px;
  }
}

/* Regras de mídia para tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  nav .navbar__content {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav .logo-navbar {
    width: 60px;
    margin-left: 0;
    margin-top: -1px;
  }

  nav .logo-ev {
    width: 200px;  /* Ajusta o tamanho para tablets */
    height: 100px;
    margin-top: -18px;
    margin-left: -27px;
  }
  
  nav .logo-navbar:hover ~ .logo2 {
    opacity: 1;
    visibility: visible;
  }

  nav .navbar__content .navbar__links {
    display: none;
  }

  nav .navbar__content .navbar__mobile {
    display: flex;
    margin-top: 0;
    gap: 10px;
  }

  nav .navbar__content .navbar__mobile img {
    width: 45px;
    height: 45px;
    cursor: pointer;
    filter: invert();
  }

  nav .navbar__content .navbar__mobile.active .mobile__links {
    display: flex;
  }

  nav .navbar__content .navbar__mobile .mobile__links li {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-bottom: 2rem;
    margin-top: 10px;
    font-size: 16pt;
    font-weight: 400;
  }

  .navbar__mobile .container-check img {
    width: 25px;
    height: 25px;
    margin-top: 10px;
  }

  nav .navbar__content .navbar__mobile .mobile__links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: rgba(255, 255, 255, 0.911);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 100;
    padding: 1rem;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 10px 67px 0px rgb(48, 48, 48);
  }
}

/* Regras de mídia para laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  nav .navbar__content {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
  }

  nav .logo-navbar {
    width: 70px;
    margin-left: 0;
    margin-top: 0;
  }

  nav .logo-ev {
    width: 200px;  /* Ajusta o tamanho para laptops */
    height: 100px;
    margin-top: -12px;
    margin-left: -28px;
  }
  
  nav .logo-navbar:hover ~ .logo2 {
    opacity: 1;
    visibility: visible;
  }

  nav .navbar__content .navbar__links {
    display: flex;
    max-width: 500px;
  }

  nav .navbar__content .navbar__links a {
    font-size: 10pt;
  }

  nav .navbar__content .navbar__mobile {
    display: none;
  }

  .navbar__mobile .container-check img {
    margin-top: -10px;
  }
}

/* Regras de mídia para desktops (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  nav .navbar__content {
    padding: 3rem 4rem;
    display: flex;
    justify-content: space-between;
  }

  nav .logo-navbar {
    width: 80px;
    margin-left: 0;
  }

  nav .logo-ev {
    width: 220px;  /* Mantém o tamanho original para desktops */
    height: 110px;
    margin-top: -10px;
    margin-left: -30px;
  }
  
  nav .logo-navbar:hover ~ .logo2 {
    opacity: 1;
    visibility: visible;
  }

  nav .navbar__content .navbar__links {
    display: flex;
  }

  nav .navbar__content .navbar__links a {
    font-size: 14pt;
  }

  nav .navbar__content .navbar__mobile {
    display: none;
  }
}


@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
