@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  animation: gradient 10s ease infinite;
  background: linear-gradient(90deg, #190555, #340ea5, #7b30d0, #190555) no-repeat;
  background-size: 200% 200%;
  /* background-image: linear-gradient(90deg, black, grey); */
}

.navbar .navbar__content {
  padding: 3rem 4rem 1rem;
  display: flex;
  justify-content: space-between;
}

.navbar .navbar__content .david-logo{
  font-size: 5rem;
  margin-top: -20px;
  font-family: 'Poppins';
  font-weight: 600;
  color: white;
  opacity: 80%;
  transition: 0.3s ease-in-out;
}

.navbar .navbar__content .david-logo:hover{
  opacity: 100%;
}

.navbar .navbar__content .navbar__links li {
  display: inline-block;
}

.navbar .navbar__content .navbar__links li:not(:last-of-type) {
  margin-right: 2rem;
}

.navbar .navbar__content .navbar__links a {
  padding: 1rem;
  display: inline-block;
  color: rgb(217, 219, 223);
  font-size: 15pt;
  transition: 0.3s ease-in-out;
}

.navbar .navbar__content .navbar__links a:hover {
  transform: scale(1.08);
  color: white;
}

.navbar.active {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

.navbar .navbar__content .navbar__mobile,
.navbar .navbar__content .navbar__mobile .mobile__links {
  display: none;
}

@media only screen and (max-width: 768px) {
  .navbar .navbar__content .navbar__links {
    display: none;
  }

  *{
    overflow-x: invisible;
  }

  .navbar .navbar__content .navbar__mobile {
    display: flex;
    align-items: center;
  }

  .navbar .navbar__content .navbar__mobile img {
    width: 3.6rem;
    height: 3.6rem;
    cursor: pointer;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 98%;
    left: 0;
    padding: 1rem 0;
    box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links li {
    margin-right: 0;
  }

  .navbar .navbar__content .navbar__mobile.active .mobile__links li a {
    padding: 1rem;
    display: block;
    text-align: center;
  }
}

@keyframes gradient {

  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }

}