@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
  animation: gradient 10s ease infinite;
  background: linear-gradient(90deg, #190555, #340ea5, #7b30d0, #190555) no-repeat;
  background-size: 200% 200%;
}

nav .navbar__content {
  padding: 3rem 4rem 1rem;
  display: flex;
  justify-content: space-between;
}

nav .logo-navbar {
  position: relative;
  margin-left: 100px;
  width: 85px;
  margin-top: -40px;
  transition: 0.5s ease-in-out;
}

nav .navbar__content .david-logo {
  font-size: 6rem;
  margin-top: -20px;
  font-family: 'Poppins';
  font-weight: 600;
  color: white;
  opacity: 80%;
  transition: 0.3s ease-in-out;
}

nav .navbar__content .david-logo:hover {
  opacity: 100%;
}

nav .navbar__content .navbar__links li {
  display: inline-block;
}

nav .navbar__content .navbar__links li:not(:last-of-type) {
  margin-right: 2rem;
}

nav .navbar__content .navbar__links a {
  padding: 1rem;
  display: inline-block;
  color: rgb(217, 219, 223);
  font-size: 15pt;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

nav .navbar__content .navbar__links a:hover {
  color: white;
}

.navbar.active {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
}

nav .navbar__content .navbar__mobile,
nav .navbar__content .navbar__mobile .mobile__links {
  display: none;
}

/* Regras de mídia para dispositivos móveis (320px - 480px) */
@media only screen and (max-width: 480px) {
  nav .navbar__content {
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav .logo-navbar {
    width: 50px;
    margin-left: 0;
    margin-top: 5px;
  }

  nav .navbar__content .navbar__links {
    display: none;
  }

  nav .navbar__content .navbar__mobile {
    display: flex;
    margin-top: 0;
  }

  nav .navbar__content .navbar__mobile img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    filter: invert();
  }

  nav .navbar__content .navbar__mobile .mobile__links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: white;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 100;
    padding: 1rem;
  }

  nav .navbar__content .navbar__mobile .mobile__links li {
    margin-bottom: 1rem;
  }

  nav .navbar__content .navbar__mobile.active .mobile__links {
    display: flex;
  }
}

/* Regras de mídia para tablets (481px - 768px) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  nav .navbar__content {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav .logo-navbar {
    width: 60px;
    margin-left: 0;
    margin-top: 1px;
  }

  nav .navbar__content .navbar__links {
    display: none;
  }

  nav .navbar__content .navbar__mobile {
    display: flex;
    margin-top: 0;
  }

  nav .navbar__content .navbar__mobile img {
    width: 45px;
    height: 45px;
    cursor: pointer;
    filter: invert();
  }

  nav .navbar__content .navbar__mobile .mobile__links {
    display: none;
    flex-direction: column;
    width: 100%;
    background: white;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 100;
    padding: 1rem;
  }

  nav .navbar__content .navbar__mobile .mobile__links li {
    margin-bottom: 1rem;
  }

  nav .navbar__content .navbar__mobile.active .mobile__links {
    display: flex;
  }
}

/* Regras de mídia para laptops (769px - 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  nav .navbar__content {
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
  }

  nav .logo-navbar {
    width: 70px;
    margin-left: 0;
    margin-top: -15px;
  }

  nav .navbar__content .navbar__links {
    display: flex;
  }

  nav .navbar__content .navbar__links a {
    font-size: 13pt;
  }

  nav .navbar__content .navbar__mobile {
    display: none;
  }
}

/* Regras de mídia para desktops (1025px - 1200px) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  nav .navbar__content {
    padding: 3rem 4rem;
    display: flex;
    justify-content: space-between;
  }

  nav .logo-navbar {
    width: 80px;
    margin-left: 0;
  }

  nav .navbar__content .navbar__links {
    display: flex;
  }

  nav .navbar__content .navbar__links a {
    font-size: 14pt;
  }

  nav .navbar__content .navbar__mobile {
    display: none;
  }
}

/* Regras de mídia para telas grandes (1201px e acima) */
@media only screen and (min-width: 1201px) {
  nav .navbar__content {
    padding: 3rem 4rem;
    display: flex;
    justify-content: space-between;
  }

  nav .logo-navbar {
    width: 85px;
    margin-left: 0;
  }

  nav .navbar__content .navbar__links {
    display: flex;
  }

  nav .navbar__content .navbar__links a {
    font-size: 15pt;
  }

  nav .navbar__content .navbar__mobile {
    display: none;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
