.projects {
  margin-bottom: 26rem; /* Ajustado para consistência */
  scroll-margin-top: 15rem;
  width: 100%;
  max-width: 120rem;
  padding: 0 2rem; /* Reduzido para melhor ajuste em telas menores */
  margin: 0 auto;
}

.projects .projects__content {
  max-width: 56rem;
  text-align: center;
  margin: 0 auto 6rem;
}

.projects ul {
  padding: 0;
  margin: 0;
  list-style: none; /* Remove marcadores padrão da lista */
}

.projects ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; /* Ajustado para melhor ajuste em telas menores */
  margin-bottom: 12rem;
  position: relative; /* Para ajustes de posicionamento */
}

.projects ul li .image img {
  width: 499px; 
  height: 30rem;
  object-fit: cover; 
  border-radius: 1rem;
  box-shadow: -50px 30px 50px 1px rgb(122, 122, 122);
  transition: transform 0.3s ease-in-out;
}

.projects ul li .image img:hover {
  transform: scale(1.05);
}

.projects ul li .projects__info {
  max-width: 100%;
}

.projects ul li .projects__info p {
  margin: 1rem 0 4rem;
}

.projects ul li .projects__info a {
  font-weight: 300;
  color: white;
  border-radius: 12px;
  padding: 10px;
  background: linear-gradient(90deg, #340ea5, #7b30d0);
  transition: transform 0.3s ease-in-out;
}

.projects ul li .projects__info a:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 1024px) {
  .projects ul li {
      gap: 1rem; 
  }

  .projects ul li .projects__info {
      max-width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .projects ul li .projects__info {
      max-width: 100%;
  }

  .projects ul li  {
    display: grid;
  }

  .projects ul li .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 1;
  }

  .projects ul li .image img:hover {
    transform: scale(1);
  }

  .projects ul li .projects__info a {
      display: block;
      text-align: center; /* Centraliza o texto do botão */
      margin: 1rem auto; /* Adiciona margem para centralizar o botão */
      max-width: 120px;
  }

  .projects ul li .projects__info p {
    margin: 2px 0 8px;
  }
}
