.projects {
    margin-bottom: 16rem;
    scroll-margin-top: 15rem;
    margin-top: 400px;
  }

  .projects .projects__content {
    max-width: 56rem;
    text-align: center;
    margin: 0 auto 6rem;
  }

  .projects ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
  
  .projects ul li.projects__reversed-list {
    flex-direction: row-reverse;
  }
  
  .projects ul li:not(:last-of-type) {
    margin-bottom: 12rem;
  }
  
  .projects ul li .image img {
    width: 100%;
    min-width: 40rem;
    max-width: 47rem;
    height: auto;
    transition: 0.3s ease-in-out;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px .1px #000000;
  }

  .projects ul li .image-t img {
    width: 100%;
    min-width: 40rem;
    max-width: 47rem;
    height: auto;
    transition: 0.3s ease-in-out;
    border-radius: 1rem;
    box-shadow: 5px 5px 20px .1px #000000;
    filter: blur(.8px);
    filter: brightness(50%);
  }

  .projects ul li .image-t .breve {
    position: absolute;
    margin-top: -180px;
    margin-left: 130px;
    color: white;
    font-size: xxx-large;
    user-select: none;
    font-weight: 900;
    text-shadow: 5px 5px 30px white;
  }

  .projects ul li .image-t img:hover{
    transform: scale(1.05);
  }

  .projects ul li .image img:hover{
    transform: scale(1.05);
  }
  
  .projects ul li .projects__info {
    max-width: 47rem;
  }
  
  .projects ul li .projects__info p {
    margin: 1rem 0 4rem;
  }
  
  .projects ul li .projects__info a {
    font-weight: 500;
    color: black;
    font-weight: 300;
    border-radius: 12px;
    padding: 10px;
    background: linear-gradient(90deg, #340ea5, #7b30d0);
    color: white;
    transition: 300ms ease-in-out;
  }

  .projects ul li .projects__info a:hover{
    box-shadow: 5px 5px 20px .1px #000000;
  }
  
  @media only screen and (max-width: 768px) {
    .projects ul li,
    .projects ul li.projects__reversed-list {
      flex-direction: column;
    }
  
    .projects ul li .projects__info {
      max-width: 66rem;
    }
  
    .projects ul li .image img {
      min-width: auto;
    }

    .projects ul li .projects__info a {
      justify-items: center;
      justify-content: center;
    }
  }