@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');

.projects {
  margin-bottom: 26rem; /* Ajustado para consistência */
  scroll-margin-top: 15rem;
  width: 100%;
  max-width: 120rem;
  padding: 0 2rem; /* Reduzido para melhor ajuste em telas menores */
  margin: 0 auto;
}

.projects .projects__content {
  max-width: 56rem;
  text-align: center;
  margin: 0 auto 6rem;
}

.projects ul {
  padding: 0;
  margin: 0;
  list-style: none; /* Remove marcadores padrão da lista */
}

.projects ul li {
  display: flex;
  align-items: center;
  gap: 5rem; /* Ajustado para melhor ajuste em telas menores */
  margin-bottom: 12rem;
  position: relative; /* Para ajustes de posicionamento */
}

.projects ul li .image img {
  width: 499px; 
  height: 30rem;
  object-fit: cover; 
  border-radius: 1rem;
  box-shadow: -50px 30px 50px 1px rgb(122, 122, 122);
  transition: transform 0.3s ease-in-out;
}

.projects ul li .image img:hover {
  transform: scale(1.05);
}

.projects ul li .projects__info {
  max-width: 100%;
}

.projects ul li .projects__info p {
  margin: 1rem 0 4rem;
}

.projects ul li .projects__info a {
  font-weight: 300;
  color: white;
  border-radius: 12px;
  padding: 10px;
  background: linear-gradient(90deg, #340ea5, #7b30d0);
  transition: transform 0.3s ease-in-out;
}

.projects ul li .projects__info a:hover {
  transform: scale(1.05);
}

/* dispositivos móveis */
@media only screen and (max-width: 480px) {
  .projects {
    padding: 0 1rem; /* Ajuste para melhor visualização em telas pequenas */
  }
  .projects ul li {
    display: grid;
    gap: 2rem; /* Ajuste para melhor visualização em telas pequenas */
  }
  .projects ul li .image img {
    width: 100%;
    height: auto; /* Ajusta a altura para manter a proporção */
    object-fit: cover;
    box-shadow: none;
  }
  .projects ul li .projects__info a {
    max-width: 100px; /* Reduzido para melhor visualização em telas pequenas */
  }
  .projects ul li .projects__info p {
    margin: 1rem 0 2rem;
  }
}

/* iPads, tablets */
@media only screen and (max-width: 768px) {
  .projects {
    padding: 0 1.5rem; /* Ajuste para melhor visualização em tablets */
  }
  .projects ul li {
    display: grid;
  }
  .projects ul li .image img {
    width: 100%;
    height: auto; /* Ajusta a altura para manter a proporção */
    object-fit: cover;
    box-shadow: none;
  }
  .projects ul li .projects__info a {
    max-width: 120px; /* Ajuste para melhor visualização em tablets */
  }
  .projects ul li .projects__info p {
    margin: 1rem 0 2rem;
  }
}

/* telas pequenas, laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .projects {
    padding: 0 1.5rem; /* Ajuste para melhor visualização em tablets */
  }
  .projects ul li {
    display: grid;
  }
  .projects ul li .image img {
    width: 100%;
    height: auto; /* Ajusta a altura para manter a proporção */
    object-fit: cover;
    box-shadow: none;
  }
  .projects ul li .projects__info a {
    max-width: 120px; /* Ajuste para melhor visualização em tablets */
  }
  .projects ul li .projects__info p {
    margin: 1rem 0 2rem;
  }
}

/* desktops, telas grandes */
@media only screen and (max-width: 1200px) {
  .projects {
    padding: 0 2rem; /* Ajuste para melhor visualização em desktops */
  }
  .projects ul li {
    gap: 5rem; /* Ajuste para melhor visualização em desktops */
  }
}

/* telas muito grandes, TVs */
@media only screen and (min-width: 1201px) {
  .projects {
    padding: 0 2rem; /* Ajuste para melhor visualização em telas grandes */
  }
  .projects ul li {
    gap: 5rem; /* Ajuste para melhor visualização em telas grandes */
  }
}
